COMPOSE_FILE=docker-compose.local.yml

SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8001,http://127.0.0.1:8001
DJANGO_SETTINGS_MODULE=ssh_monitor.settings.local

POSTGRES_DB=ssh_monitor
POSTGRES_USER=ssh_monitor
POSTGRES_PASSWORD=change-this-postgres-password

DATABASE_URL=postgres://ssh_monitor:change-this-postgres-password@postgres:5432/ssh_monitor

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

CREDENTIAL_ENCRYPTION_KEY=replace-with-generated-fernet-key
LOG_LEVEL=INFO

# For production:
# COMPOSE_FILE=docker-compose.prod.yml
# DEBUG=False
# DJANGO_SETTINGS_MODULE=ssh_monitor.settings.production